<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
  <div class="bg-main-friends">
          
      </div>

  <div class="jumbotron">
    <div class="container altura">
      <div class="row">

       <section class="bg-white-trans">
        <h2 class="black animated animatedFadeInUp">
                        Tener nuevos amigos
          </h2>
          <p>“El mundo es un libro y aquellos que no viajan solo leen una página”. – Agustín Povua</p>
          <p>Viajar por el mundo es un gran sueño y puedes viajar realmente por los 237 paises y territorios del mundo pero tal vez solo desees conocer ciertas partes, asi que nos gustaria que veas nuestras opciones y selecciones la que te interesan. Disfruta y escoge de acuerdo a lo que desees. </p>
         </section>
        <div class="col-md-12">
         <div class="col-sm-6 col-sm-push-5 col-md-6 col-md-push-7">
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            LIBRARSE DE LAS MALAS COMPAÑIAS
             </h3>
             <p class="fs-16">“Viajar es un ejercicio con consecuencias fatales para los prejuicios, la intolerancia y la estrechez de mente”. – Mark Twain</p>
             <p>Tienes 49 paises oficiales, 8 paises no oficialmente reconocidos, 9 territorios en disputa y 33 territorios dependientes de paises europeos por visitar. </p>

            <div  class="collapse" id="europaspre">
            <p>
                            Pasear en la torre Eiffel de noche, visitar el coliseo Romano y los canales de Venecia, Visitar el palacio de Buckingham.
            </p>
            <p class="black">
            	TOP 10 CIUDADES MAS VISITADAS
            	<ul class="dreamfs text-left fs201">
            		<li>
            			Paris, Francia
            		</li>
            		<li>
            			Londres, Inglaterra
            		</li>
            		<li>
            			Berlin, Alemania
            		</li>
            		<li>
            			Roma, Italia
            		</li>
            		<li>
            			Barcelona, España
            		</li>
            		<li>
            			Madrid, España
            		</li>
            		<li>
            			Estambul, Turquia
            		</li>
            		<li>
            			Praga, Republica Checa
            		</li>
            		<li>
            			Viena, Austria
            		</li>
            		<li>
            			Munich, Alemania
            		</li>
            	</ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#europaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><a href="http://localhost:3000/friends/bad_companies" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>

         </div>
         <div class="col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6">
            <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            ENCONTRAR NUEVOS MEJORES AMIGOS
             </h3>
             <p class="fs-16"> "Viajar es imprescindible y la sed de viaje, un síntoma neto de inteligencia"- Enrique Jardiel Poncela </p>
             <p>Tienes 44 paises oficiales, 5 paises no oficialmente reconocidos, 10 territorios en disputa y 3 territorios dependientes de paises asiaticos por visitar.</p>
             <div  class="collapse" id="asiaspre">
            <p>
                            Ver a los increible monjes tibetanos y su estilo de vida, viajar en la espalda de un elefente en la India, conocer los increibles paisajes de los cerezales japoneses y sus templos, conocer Singapur y su increible y tecnologica ciudad, Ver la enorme muralla China
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Paris, Francia
                </li>
                <li>
                  Londres, Inglaterra
                </li>
                <li>
                  Berlin, Alemania
                </li>
                <li>
                  Roma, Italia
                </li>
                <li>
                  Barcelona, España
                </li>
                <li>
                  Madrid, España
                </li>
                <li>
                  Estambul, Turquia
                </li>
                <li>
                  Praga, Republica Checa
                </li>
                <li>
                  Viena, Austria
                </li>
                <li>
                  Munich, Alemania
                </li>
              </ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#asiaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><a href="http://localhost:3000/friends/new_best_friends" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>

         </div>
        </div>

       </div>
    </div>
   </div>
<footer class="footer footer-default footer-highlight-aquamarine text-center">
  <div class="container">
    <p class="text-white fs-24">Tienes un sueño de viajar que no encuentras aqui o algun sueño especial de viajar. Agregalo abajo.</p>
    <%= link_to "AGREGAR SUEÑO", pages_add_dream_path,
              class: "btn btn-solid3 js-goto-signup js-button-hero-get-free" %>
  </div>

</footer>