<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
 <div class="bg-main-car">
          
 </div>

  <div class="jumbotron">
    <div class="container altura">
      <div class="row">

       <section class="bg-white-trans">
        <h2 class="black animated animatedFadeInUp">
                        Tener un vehiculo nuevo
          </h2>
          <p>“El mundo es un libro y aquellos que no viajan solo leen una página”. – Agustín Povua</p>
          <p>Viajar por el mundo es un gran sueño y puedes viajar realmente por los 237 paises y territorios del mundo pero tal vez solo desees conocer ciertas partes, asi que nos gustaria que veas nuestras opciones y selecciones la que te interesan. Disfruta y escoge de acuerdo a lo que desees. </p>
         </section>
        <div class="col-md-12">
         <div class="col-sm-6 col-sm-push-5 col-md-6 col-md-push-7">
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            UN AUTO NUEVO
             </h3>
             <p class="fs-16">“Viajar es un ejercicio con consecuencias fatales para los prejuicios, la intolerancia y la estrechez de mente”. – Mark Twain</p>
             <p>SUV's, sedanes, vagonetas, pick ups, hatchback's, coupe's, hibridos, electricos. El sueño de tener un auto nuevo.</p>

            <div  class="collapse" id="europaspre">
            <p>
                            Pasear en la torre Eiffel de noche, visitar el coliseo Romano y los canales de Venecia, Visitar el palacio de Buckingham.
            </p>
            <p class="black">
            	TOP 10 CIUDADES MAS VISITADAS
            	<ul class="dreamfs text-left fs201">
            		<li>
            			Paris, Francia
            		</li>
            		<li>
            			Londres, Inglaterra
            		</li>
            		<li>
            			Berlin, Alemania
            		</li>
            		<li>
            			Roma, Italia
            		</li>
            		<li>
            			Barcelona, España
            		</li>
            		<li>
            			Madrid, España
            		</li>
            		<li>
            			Estambul, Turquia
            		</li>
            		<li>
            			Praga, Republica Checa
            		</li>
            		<li>
            			Viena, Austria
            		</li>
            		<li>
            			Munich, Alemania
            		</li>
            	</ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#europaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><a href="http://localhost:3000/new_car/car" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>
<div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            TENER UNA MOTO
             </h3>
             <p class="fs-16">“Nuestro destino nunca es un lugar, sino una nueva forma de ver las cosas”. – Henry Miller</p>
             <p>Tienes 35 paises oficiales, 18 territorios en disputa y 15 territorios dependientes de paises americanos por visitar. </p>
            
            <div  class="collapse" id="americaspre">
            <p>
                            Pasear en Paris por la noche, visitar Roma y los canales de Venecia, Pasear por la hermosa ciudad de Madrid,  o conocer alguno de los 50 paises Euopeos
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Paris, Francia
                </li>
                <li>
                  Londres, Inglaterra
                </li>
                <li>
                  Berlin, Alemania
                </li>
                <li>
                  Roma, Italia
                </li>
                <li>
                  Barcelona, España
                </li>
                <li>
                  Madrid, España
                </li>
                <li>
                  Estambul, Turquia
                </li>
                <li>
                  Praga, Republica Checa
                </li>
                <li>
                  Viena, Austria
                </li>
                <li>
                  Munich, Alemania
                </li>
              </ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#americaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><a href="http://localhost:3000/new_car/motorcycle" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                           SUEÑO DE UNA BICICLETA
             </h3>
             <p class="fs-16">“Un viaje de mil millas ha de comenzar con un simple paso” – Lao Tzu</p>
             <p>Tienes 54 paises oficiales, 2 paises no oficialmente reconocidos, 8 territorios en disputa y 3 territorios dependientes de paises africanos por visitar. </p>
             
            <div  class="collapse" id="africaspre">
            <p>
                            Pasear en Paris por la noche, visitar Roma y los canales de Venecia, Pasear por la hermosa ciudad de Madrid,  o conocer alguno de los 50 paises Euopeos
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Paris, Francia
                </li>
                <li>
                  Londres, Inglaterra
                </li>
                <li>
                  Berlin, Alemania
                </li>
                <li>
                  Roma, Italia
                </li>
                <li>
                  Barcelona, España
                </li>
                <li>
                  Madrid, España
                </li>
                <li>
                  Estambul, Turquia
                </li>
                <li>
                  Praga, Republica Checa
                </li>
                <li>
                  Viena, Austria
                </li>
                <li>
                  Munich, Alemania
                </li>
              </ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#africaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><a href="http://localhost:3000/new_car/bicycle" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>

         </div>
         <div class="col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6">
            <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                             CONSEGUIR UN AUTO QUE TRABAJE EN EL SECTOR DE TRANSPORTE PRIVADO 
             </h3>
             <p class="fs-16"> "Viajar es imprescindible y la sed de viaje, un síntoma neto de inteligencia"- Enrique Jardiel Poncela </p>
             <p>Las empresas tecnologicas de transporte privado han florecido en todo el mundo, si te gusta conducir y emprender sera lo tuyo.</p>
             <div  class="collapse" id="asiaspre">
            <p>
                            Ver a los increible monjes tibetanos y su estilo de vida, viajar en la espalda de un elefente en la India, conocer los increibles paisajes de los cerezales japoneses y sus templos, conocer Singapur y su increible y tecnologica ciudad, Ver la enorme muralla China
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Paris, Francia
                </li>
                <li>
                  Londres, Inglaterra
                </li>
                <li>
                  Berlin, Alemania
                </li>
                <li>
                  Roma, Italia
                </li>
                <li>
                  Barcelona, España
                </li>
                <li>
                  Madrid, España
                </li>
                <li>
                  Estambul, Turquia
                </li>
                <li>
                  Praga, Republica Checa
                </li>
                <li>
                  Viena, Austria
                </li>
                <li>
                  Munich, Alemania
                </li>
              </ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#asiaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><a href="http://localhost:3000/new_car/profit_car" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>
         <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            VEHICULOS PARA NEGOCIOS
             </h3>
             <p class="fs-16"> "Una inversión en un viaje es una inversión en ti mismo" -Matthew Karsten. </p>
             <p>Trailers, tractores, camiones de transporte, maquinaria de construccion, Etc. Toda clase de vehiculos para toda clase de negocios. </p>
             
            <div  class="collapse" id="oceaniaspre">
            <p>
                            Pasear en Paris por la noche, visitar Roma y los canales de Venecia, Pasear por la hermosa ciudad de Madrid,  o conocer alguno de los 50 paises Euopeos
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Paris, Francia
                </li>
                <li>
                  Londres, Inglaterra
                </li>
                <li>
                  Berlin, Alemania
                </li>
                <li>
                  Roma, Italia
                </li>
                <li>
                  Barcelona, España
                </li>
                <li>
                  Madrid, España
                </li>
                <li>
                  Estambul, Turquia
                </li>
                <li>
                  Praga, Republica Checa
                </li>
                <li>
                  Viena, Austria
                </li>
                <li>
                  Munich, Alemania
                </li>
              </ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#oceaniaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><a href="http://localhost:3000/new_car/vehicle_for_business" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>
         <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            TENER UN AUTO DEPORTIVO
             </h3>
             <p class="fs-16"> "Vayas a donde vayas, ve con todo tu corazón" -Confucio.</p>
             <p>Tienes 196 paises oficiales, 15 paises no oficialmente reconocidos y 63 territorios dependientes en el mundo por visitar.</p>
             
            <div  class="collapse" id="worldspre">
            <p>
                            Pasear en Paris por la noche, visitar Roma y los canales de Venecia, Pasear por la hermosa ciudad de Madrid,  o conocer alguno de los 50 paises Euopeos
            </p>
            <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Paris, Francia
                </li>
                <li>
                  Londres, Inglaterra
                </li>
                <li>
                  Berlin, Alemania
                </li>
                <li>
                  Roma, Italia
                </li>
                <li>
                  Barcelona, España
                </li>
                <li>
                  Madrid, España
                </li>
                <li>
                  Estambul, Turquia
                </li>
                <li>
                  Praga, Republica Checa
                </li>
                <li>
                  Viena, Austria
                </li>
                <li>
                  Munich, Alemania
                </li>
              </ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>

                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#worldspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
           <div><a href="http://localhost:3000/new_car/luxury_car" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>

         </div>
        </div>

       </div>
    </div>
   </div>
<footer class="footer footer-default footer-highlight-aquamarine text-center">
  <div class="container">
    <p class="text-white fs-24">Tienes un sueño de viajar que no encuentras aqui o algun sueño especial de viajar. Agregalo abajo.</p>    <a href="http://localhost:3000/pages/add_dream" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ELEGIR SUEÑO
    </a>
  </div>

</footer>