

  <div class="panel-body">

   <p> <%= link_to "Admin", admin_path %><% "> #{params[:action]}.capitalize" unless params[:action].eql?("index") %> </p>

   <div class="btn-group">
    <%= render "admin/link", resource: User %>
    <%= link_to "Actividad", admin_activity_path %>
   </div>

  </div>      
