<div class="bg-main">
  <!--<div style="display: block; background-image: url(&quot;//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div> -->
</div>

<div class="jumbotron jumbotron-albums jumbotron-subscriptions">
<div class="jumbotron-bg lazy lazy-no-small" style="background: url(../i/home/noise.png),linear-gradient(50deg,#010609 0,#1967bf 100%);" data-original=""></div>
  <div class="container">
   <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-10 col-lg-12">
              <div style="margin-top: 40px;" class="animated animatedFadeInUp">
                <h2>
                  <span class="text-white">
                     <%= current_user.username %> Administrador 
                  </span>
                </h2>
              </div>
              <div class="animated animatedFadeInUp">
                <p class="text-white">
            Noblidream es nuestra aportación para ayudar a la humanidad a que llegue a ser algo de lo que todos estemos orgullosos de ser parte, con la esperanza de seguir moviendo a todos hacia nuestro mejor futuro. Podras cumplir cualquier cosa que hayas pensado alguna vez e incluso mejoraras tus actividades diarias.
            Gracias por confiar en nosotros y a continuacion te presentamos nuestra vision. 
                </p>
              </div>
            </div>
          </div>
          </div>
      </div>
      </div>
  <div class="jumbotron">
    <div class="container altura bg-white">
      <div class="row">
        <div style="max-width: 100%; margin: 20px auto; border: 1px solid #ddd; box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.07); 
        background: #fff; border-radius: 4px;">
        <div>
          <p>Aqui puedes cambiar tus datos personales, introduce los datos que quieras actualizar y deja en blanco los campos que no deseas actualizar</b></p>
        </div>
        <div class="ui-153">

  <div class="panel-body">

    <%= render 'admin/nav_links' %>

  </div>      
        </div>
</div>
      </div>
</div>
</div>