<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main">

      </div>


<div class="jumbotron">
    <div class="container altura">
      <div class="row">
         <div>
            <div>
                  <div>
               		<h2 class="text-white">
               			Plan Noblidream
               		</h2>
               		<p class="text-white">Felicidades practicamente has terminado la parte 1 del Plan Noblidream para tu sue単o de viajar. Te vamos a explicar mas a detalle las siguientes partes que veremos los proximos dias. Gracias a esto es que tenemos una tan alta tasa de sue単os cumplidos. Solo da CLICK en cada uno de los circulos. </p>
               	</div>
               	
      <!-- UI # -->
      <div class="ui-104">
         <div class="container">
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <!-- Our Process Item-->
                  <div class="our-process-item">
                     <!-- Icon -->
                     <a href="#elegir" class="white bg-red" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-lightbulb-o"></i></a>
                     <div  class="collapse" id="elegir">
                     <p>Explicacion</p>
                     </div>
                     <!-- Arrow Image -->
                     <%= image_tag 'arrow.png', :class => 'img-responsive' %>
                     <!-- Heading -->
                     <h4>Elegir sue単o</h4>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="our-process-item">
                     <a data-toggle="collapse" href="#plan" aria-expanded="false" aria-controls="collapseExample" class="white bg-lblue"> <i class="fa fa-desktop"></i></a>
                     <div  class="collapse" id="plan">
                     <p>Explicacion</p>
                     </div>
                     <%= image_tag 'arrow.png', :class => 'img-responsive' %>
                     <h4>Plan de Accion</h4>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="our-process-item">
                     <a role="button" data-toggle="collapse" href="#ahorro" aria-expanded="false" aria-controls="collapseExample" class="white bg-green"> <i class="fa fa-money"></i></a>
                     <div  class="collapse" id="ahorro">
                     <p>Explicacion</p>
                     </div>
                     <%= image_tag 'arrow.png', :class => 'img-responsive' %>
                     <h4>Plan de Ahorro</h4>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="our-process-item">
                     <a role="button" data-toggle="collapse" href="#cumplido" aria-expanded="false" aria-controls="collapseExample" class="white bg-purple"> <i class="fa fa-check-square-o"></i>
                     </a>
                     <div  class="collapse" id="cumplido">
                     <p>Explicacion</p>
                     </div>
                     <h4>Sue単o cumplido</h4>
                  </div>
               </div>
            </div>   
         </div>
      </div>
            </div>  


      <div>
   </div>
</div>