  <div class="bg-main">
  <!--
          <div style="display: block; background-image: url(&quot;//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div> -->
      </div>


<div class="jumbotron jumbotron-albums jumbotron-subscriptions">
<div class="jumbotron-bg lazy lazy-no-small" style="background: url(../i/home/noise.png),linear-gradient(50deg,#010609 0,#1967bf 100%);" data-original=""></div>
  <div class="container">
   <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-10 col-lg-12">
              <div class="animated animatedFadeInUp">
                <h2>
                  <span class="text-white">
                      REGISTRO
                  </span>
                </h2>
              </div>
              <div class="animated animatedFadeInUp">
                <p class="text-white">
            Noblidream es nuestra aportación para ayudar a la humanidad a que llegue a ser algo de lo que todos estemos orgullosos de ser parte, con la esperanza de seguir moviendo a todos hacia nuestro mejor futuro. Podras cumplir cualquier cosa que hayas pensado alguna vez e incluso mejoraras tus actividades diarias.
            Gracias por confiar en nosotros y a continuacion te presentamos nuestra vision. 
                </p>
              </div>
            </div>
          </div>
          </div>
      </div>
      </div>

<div class="jumbotron">
    <div class="container altura bg-white">
      <div class="row">


<div style="max-width: 100%;
margin: 20px auto;
border: 1px solid #ddd;
box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.07);
background: #fff;
border-radius: 4px;">
        <div>
          <h3> REGISTRATE</h3>
          <p>Actualmente el sueño de asisitir a los juegos olimpicos esta en investigacion, introduce tus datos para ser uno de los <b>100 primeros</b> en probarlo.</p>
        </div>
        <div class="ui-153">
          
    <div class="register-custom">
    <form id="registration-form" action="/register/register" method="POST" role="form" class="form-horizontal registrationForm" novalidate="novalidate">  
    <div class="panel-body">      
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Nombre(s) *</label>
          <div class="col-md-6 no-padding">
             <input type="text" class="form-control" id="name" name="name" placeholder="Nombre(s)">
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Apellido Paterno *</label>
          <div class="col-md-6 no-padding">
            <input type="text" class="form-control" id="paternalLastName" name="paternalLastName" placeholder="Apellido Paterno">
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Apellido Materno *</label>
          <div class="col-md-6 no-padding">
            <input type="text" class="form-control" name="maternalLastName" id="maternalLastName" placeholder="Apellido Materno">
          </div>
        </div> 
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Fecha de nacimiento *</label>
          <div class="col-md-6 no-padding">
            <input name="birthdate" id="birthdate" type="text" class="form-control datepicker" placeholder="dd-mm-aaaa">
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Teléfono *</label>
          <div class="col-md-6 no-padding">
            <input type="text" id="phone" class="form-control" name="phone" placeholder="(XX) XXXXXXXX" maxlength="12">
          </div>
        </div>
        <div class="form-group">
           <label class="col-md-4 control-label fs-16">Estado Civil *</label>
          <div class="col-md-6 no-padding">
           <select class="form-control" name="maritalstatus" id="maritalstatus">
            <option value="">Selecciona un estado civil</option>
            <option value="Soltero(a)">Soltero(a)</option>
            <option value="Casado(a)">Casado(a)</option>
            <option value="Divorciado(a)">Divorciado(a)</option>
            <option value="Viudo(a)">Viudo(a)</option>
           </select>
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Sexo *</label>
          <div class="col-md-6 no-padding">
           <select class="form-control" name="gender" id="gender">
            <option value="">Seleccione una opción</option>
            <option value="Hombre">Hombre</option>
              <option value="Mujer">Mujer</option>
           </select>
          </div>
        </div>
          <div class="form-group">
         <label class="col-md-4 control-label fs-16">Escolaridad *</label>
          <div class="col-md-6 no-padding">
           <select class="form-control" name="educationlevel" id="educationlevel">
            <option value="">Selecciona una escolaridad</option>
            <option value="Ninguno">Ninguno</option>
            <option value="Primaria">Primaria</option>
            <option value="Secundaria">Secundaria</option>
              <option value="Preparatoria/Bachiller">Preparatoria/Bachiller</option>
            <option value="Carrera Tecnica">Carrera Técnica</option>
            <option value="Licenciatura">Licenciatura</option>
            <option value="Maestria">Maestría</option>
              <option value="Doctorado">Doctorado</option>
           </select>
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Estado *</label>
          <div class="col-md-6 no-padding">
           <select class="form-control" name="state" id="state">
            <option value="">Selecciona un estado</option>
            <option value="2">Aguascalientes</option>
            <option value="3">Baja California</option>
            <option value="4">Baja California Sur</option>
            <option value="5">Campeche</option>
            <option value="8">Chiapas</option>
            <option value="9">Chihuahua</option>
            <option value="1">Ciudad de México</option>
            <option value="6">Coahuila de Zaragoza</option>
            <option value="7">Colima</option>
            <option value="10">Durango</option>
            <option value="11">Guanajuato</option>
            <option value="12">Guerrero</option>
            <option value="13">Hidalgo</option>
            <option value="14">Jalisco</option>
              <option value="15">México</option>
            <option value="16">Michoacán de Ocampo</option>
            <option value="17">Morelos</option>
            <option value="18">Nayarit</option>
            <option value="19">Nuevo León</option>
            <option value="20">Oaxaca</option>
            <option value="21">Puebla</option>
            <option value="22">Querétaro</option>
              <option value="23">Quintana Roo</option>
            <option value="24">San Luis Potosí</option>
            <option value="25">Sinaloa</option>
            <option value="26">Sonora</option>
            <option value="27">Tabasco</option>
            <option value="28">Tamaulipas</option>
            <option value="29">Tlaxcala</option>
            <option value="30">Veracruz de Ignacio de la Llave</option>
            <option value="31">Yucatán</option>
            <option value="32">Zacatecas</option>
           </select>
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Municipio *</label>
          <div class="col-md-6 no-padding">
           <select class="form-control" name="cities" id="cities">
            <option value="">Selecciona un municipio</option>   
             </select>
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Domicilio *</label>
          <div class="col-md-6 no-padding">
           <input type="text" id="address" class="form-control" name="address">
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Número Exterior *</label>
          <div class="col-md-6 no-padding">
           <input type="text" id="externalNumber" class="form-control" name="externalNumber">
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Número Interior</label>
          <div class="col-md-6 no-padding">
           <input type="text" id="internalNumber" class="form-control" name="internalNumber">
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Código Postal *</label>
          <div class="col-md-6 no-padding">
           <input type="text" id="zipcode" class="form-control" name="zipcode">
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Correo Electrónico *</label>
          <div class="col-md-6 no-padding">
           <input type="email" class="form-control" id="email" name="email" placeholder="Tu email" title="Ingrese un email correcto." oncopy="return false" oncut="return false" onpaste="return false">
          </div>
        </div>  
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Confirmar Correo Electrónico *</label>
          <div class="col-md-6 no-padding">
           <input type="email" id="confirm_email" name="confirm_email" class="form-control" placeholder="Confirmar email" title="Por favor verifica tu email, no coincide con el campo anterior" oncopy="return false" oncut="return false" onpaste="return false">
          </div>
        </div>                                    
        <div class="form-group">
         <label class="col-md-4 control-label fs-16">Contraseña *</label>
          <div class="col-md-6 no-padding">
           <input type="password" class="form-control" id="password" name="password" aria-autocomplete="list">
          </div>    
          <div class="col-md-1 control-label">
           <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="La contraseña como mínimo debe contener 8 dígitos, una letra mayúscula, una letra minúscula y un número."></span>
          </div>                                   
        </div>  
        <div class="form-group">
          <label class="col-md-4 control-label fs-16">Confirmar Contraseña *</label>
          <div class="col-md-6 no-padding">
           <input type="password" class="form-control" name="confirm_pass" id="confirm_pass" title="Por favor verifica tu contraseña, no coincide con el campo anterior">
          </div>                                      
        </div>
        <!--
        <div class="form-group">
          <div class="col-md-4"></div>
            <div class="col-md-7">
             <input type="checkbox" name="accept_terms" id="accept_terms">
              He leído y acepto los <a hreh="#" data-toggle="modal" data-target="#terminos">Términos y Condiciones</a>
            </div>
        </div> 
        <div class="form-group">
          <div class="col-md-4"></div>
          <div class="col-md-7">
            <input type="checkbox" name="newsletter" id="newsletter">
              Suscríbeme al newsletter
          </div>
        </div> -->
        <div class="form-group">
          <label class="col-md-9 control-label" style="color: #e23b36;">Los campos que están marcados con asterisco (*) son obligatorios</label>
          <div class="col-md-3 no-padding">
            <label></label>
            </div>
        </div>
      </div>
    </form>
  </div>      

        </div>
</div>
        <div class="col-md-6">
          <a href="http://localhost:3000/registration/part_1a" class="btn btn-solid2 js-goto-signup js-button-hero-get-free">
            SIGUIENTE
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="btn btn-solid5 js-goto-signup js-button-hero-get-free">
            GUARDAR <br>PROGRESO
          </a>
        </div>


      </div>
    </div>
</div>

