  <div class="bg-main">
  <!--
          <div style="display: block; background-image: url(&quot;//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div> -->
      </div>


<div class="jumbotron jumbotron-albums jumbotron-subscriptions">
<div class="jumbotron-bg lazy lazy-no-small" style="background: url(../i/home/noise.png),linear-gradient(50deg,#010609 0,#1967bf 100%);" data-original=""></div>
  <div class="container">
   <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-10 col-lg-12">
              <div class="animated animatedFadeInUp">
                <h2>
                  <span class="text-white">
                      ASISTIR A LOS JUEGOS OMLIPICOS
                  </span>
                </h2>
              </div>
              <div class="animated animatedFadeInUp">
                <p class="text-white">
            Noblidream es nuestra aportación para ayudar a la humanidad a que llegue a ser algo de lo que todos estemos orgullosos de ser parte, con la esperanza de seguir moviendo a todos hacia nuestro mejor futuro. Podras cumplir cualquier cosa que hayas pensado alguna vez e incluso mejoraras tus actividades diarias.
            Gracias por confiar en nosotros y a continuacion te presentamos el principio de nuestra vision. 
                </p>
              </div>
            </div>
          </div>
          </div>
      </div>
      </div>

<div class="jumbotron">
    <div class="container altura bg-white">
      <div class="row">
 

        <div style="max-width: 100%;
           margin: 20px auto;
           border: 1px solid #ddd;
           box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.07);
           background: #fff;
           border-radius: 4px;">
          <h3> REGISTRATE</h3>
          <p>Actualmente el sueño de asisitir a los juegos olimpicos esta en investigacion, introduce tus datos para ser uno de los <b>100 primeros</b> en probarlo.</p>
        </div>

        <div class="ui-2">
      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- UI-item -->
            <div class="ui-item">
              <!-- UI-head -->
              <div class="ui-head">
                <!-- heading -->
                <h3>REGISTRO RAPIDO</h3>
                <!-- Button -->
                    
              </div>
              <div class="clearfix"></div>
              <!-- Ui-para -->
              <div  class="ui-para br-nblue">
                <!-- Paragraph -->
                <p>Registro de 3 minutos.</p>
              </div>
              <!-- Ui-list -->
              <div class="ui-list">
                <ul class="list-unstyled">
                  <li><i class="fa fa-close red"></i> &nbsp; &nbsp;<strong>Acceso a todos los sueños</strong></li>
                  <li><i class="fa fa-check green"></i> &nbsp; &nbsp;Atencion personalizada</li>
                  <li><i class="fa fa-close red"></i> &nbsp; &nbsp;Sueños preferenciales</li>
                  <li><i class="fa fa-close red"></i> &nbsp; &nbsp;Aceso a la lista de sueños que cumplir en la vida</li>
                  <li><i class="fa fa-close red"></i> &nbsp; &nbsp;Perfil de personalidad</li>
                  <li><i class="fa fa-close red"></i> &nbsp; &nbsp;Buena comprension de la vida del soñador</li>

                </ul>
              </div>
              <a href="http://localhost:3000/registration/quick_registration" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ELEGIR
    </a>
            </div><!--/ item -->
          </div>
          
          
          <div class="col-md-6">
            <!-- item -->
            <div class="ui-item">
              <!-- Ui-head -->
              <div class="ui-head">
                <!-- Heading -->
                <h3>REGISTRO NOBLIDREAM</h3>
              </div>
              <div class="clearfix"></div>
              <!-- Blockquote -->
              <div  class="ui-para br-nblue">
                <p>Registro de 25 minutos.</p>
              </div>
              <!-- Ui-list -->
              <div class="ui-list">
                <ul class="list-unstyled">
                  <li><i class="fa fa-check green"></i> &nbsp; &nbsp;<strong>Acceso a todos los sueños</strong></li>
                  <li><i class="fa fa-check green"></i> &nbsp; &nbsp;Atencion personalizada</li>
                  <li><i class="fa fa-check green"></i> &nbsp; &nbsp;Sueños preferenciales</li>
                  <li><i class="fa fa-check green"></i> &nbsp; &nbsp;Aceso a la lista de sueños que cumplir en la vida</li>
                  <li><i class="fa fa-check green"></i> &nbsp; &nbsp;Perfil de personalidad</li>
                  <li><i class="fa fa-check green"></i> &nbsp; &nbsp;Buena comprension de la vida del soñador</li>

                </ul>
              </div>
              <a href="http://localhost:3000/registration/introduction" class="btn btn-solid2 js-goto-signup js-button-hero-get-free">
            ELEGIR
    </a>
            </div><!--/ item -->
          </div>
        </div>
      </div><!--/Container -->
    </div><!--/Ui-2 -->



      </div>
    </div>
</div>

