
<div class="bg-main">
 <div style="display: block; background-image: url(&quot;http://imageshack.com/a/img922/6182/u5STDt.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="http://imageshack.com/a/img922/6182/u5STDt.png"></div> -->
</div>
      

<div class="jumbotron">
    <div class="container altura">
      <div class="row">
<section id="registro">
            <div class="container">
            <div id="mensaje"></div>
            <form class="form-horizontal" id="formRegistro" method="post" novalidate="novalidate">
                <fieldset>
                
                <!-- Form Name -->
                <h2 class="text-white">Formulario de registro de nuevos sueños</h2>
                <p class="text-white">Tienes un sueño unico que no esta en nuestra lista, agregalo aqui y trabajaremos en hacerlo realidad</p>
                <p class="text-white">Introduce los datos que se te piden a continuacion</p>
                <input id="convocatoria" name="convocatoria" value="2024" type="hidden">
                <fieldset class="fsStyle">
                    <label class="col-md-4 control-label text-white" for="proyecto">Nombre del sueño que deseas registrar</label>
                    <div class="col-md-8">
                        <input id="proyecto" name="proyecto" class="form-control input-md" required="" aria-required="true" type="text">
                        <span class="help-block text-white">Como nombrarias a tu sueño</span>
                    </div>                  
                    
                    <label class="col-md-4 control-label text-white fs-16" for="historia">Cuenta la historia de por que deseas que este sueño se haga realidad</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                        <span class="help-block text-white">Coméntanos: La historia de cuando nacio la idea y su experiencia relacionada con el sueño.</span>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="form-group">
                      <label class="col-md-4 control-label text-white fs-16" for="sector">¿A qué sector, industria o area de la vida pertenece tu sueño?</label>
                      <div class="col-md-8">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                        <span class="help-block text-white">Nos ayudara a entender y encontrar la mejor solucion para cumplir tu sueño.</span>
                      </div>
                    </div>
                    
                    <label class="col-md-4 control-label text-white" for="descripcion">Descripción de el sueño</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
                        <span class="help-block text-white">Explícanos de manera clara y concisa cual es el sueño.</span>
                    </div>
                    
                    <label class="col-md-4 control-label text-white" for="problema">Como esperarias hacerlo realidad si tuvieras: dinero infinito, vida infinita e imaginacion infinita </label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="problema" name="problema"></textarea>
                        <span class="help-block text-white">Se lo mas creativo que puedas. Hazlo realidad en tu mente y escribelo.</span>
                    </div>
                    
                    <label class="col-md-4 control-label text-white" for="solucion">¿Cómo se resuelve actualmente el sueño completo o partes del sueño?</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="solucion" name="solucion"></textarea>
                        <span class="help-block text-white">Puede que para tu sueño no exista una solucion completa hoy dia, pero tal vez si parciales. Si las conoces apuntalas.</span>
                    </div>                                                       
                    <label class="col-md-4 control-label text-white" for="motivacion">Explica tu motivación para llevar a cabo este sueño</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="motivacion" name="motivacion"></textarea>
                        <span class="help-block text-white">¿Por qué hacer esto y no otra cosa?</span>
                    </div>
                    
                    <label class="col-md-4 control-label text-white" for="tiempo">¿Cuanto tiempo, dinero y esfuerzo estas dispuesto a meterle a tu sueño?</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="tiempo" name="tiempo"></textarea>
                        <span class="help-block text-white">Nos ayudara a entender mas sobre tus requerimentos para cumplir tu sueño</span>
                    </div>
                    
                </fieldset>                
                
                
                
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton"></label>
                  <div class="col-md-8">
                    <button id="singlebutton" name="singlebutton" class="navbar-btn btn btn-solid3">Enviar Sueño</button>
                  </div>
                </div>
                
                </fieldset>
                </form>
            </div>
        </section>





       </div>
    </div>
</div>