 <div class="bg-main-buy-house">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        COMPRAR UNA CASA
          </h2>
          <p>INDICACIONES: A tener una casa en la cual crear un hogar. Para poder ayudarte correctamente en tu sueño hemos creado un muy completo y simple llenado compuesto de 4 secciones. Solo llena lo que se te pide a continuacion.</p>
          </div>
       </section>





      </div>
    </div>
</div>