<div class="bg-main">
 <div style="display: block; background-image: url(&quot;http://imageshack.com/a/img922/6182/u5STDt.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="http://imageshack.com/a/img922/6182/u5STDt.png"></div> -->
</div>
        

<header id="js-navbar" class="navbar navbar-default navbar-fixed-top navbar-semi-transparent navbar-highlight-aquamarine" role="banner">
    <div class="container">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="sidepanel" data-target="#navbar-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <%= link_to "Noblidream", pages_index_path, class: "navbar-logo navbar-brand"%>
    </div>
    <nav class="collapse navbar-collapse" id="navbar-nav" role="navigation">
        
    <ul class="nav navbar-nav navbar-right nav-main">

    <li class="hidden ">
    <a href="/mx/explore/" id="nav-link-Explore" data-ga-category="menu" data-ga-action="Explore">
      Explore
                </a>
    </li>

  <li>
  <%= link_to "Sueño Nuevo", pages_add_dream_path %>
  </li>

   <!-- <li>
    <a href="" id="nav-link-help" data-ga-category="menu" data-ga-action="help">
      Ayuda
    </a>
  </li> -->

  <li role="separator" class="divider"></li>
    
    <li class="alternate sidepanel-item-small ">
    <%= link_to "Regístrate", registration_introduction_path %>
    </li>

   <li class="alternate sidepanel-item-small">
     <%= link_to "Inicio de sesión", profile_overview_path, class: "user-link user-text navbar-user-text" %>
   </li>
  </ul>
  </nav>
 </div>
</header>

<div class="jumbotron">
    <div class="container altura">
      <div class="row">
<section id="registro">
            <div class="container">
            <div id="mensaje"></div>
            <form class="form-horizontal" id="formRegistro" method="post" novalidate="novalidate">
                <fieldset>
                
                <!-- Form Name -->
                <h2 class="text-white">Formulario de registro de nuevos sueños</h2>
                <p class="text-white">Tienes un sueño unico que no esta en nuestra lista, agregalo aqui y trabajaremos en hacerlo realidad</p>
                <p class="text-white">Introduce los datos que se te piden a continuacion</p>
                <input id="convocatoria" name="convocatoria" value="2017" type="hidden">
                <fieldset class="fsStyle">
                    <label class="col-md-4 control-label text-white" for="proyecto">Nombre del sueño que deseas registrar</label>
                    <div class="col-md-8">
                        <input id="proyecto" name="proyecto" class="form-control input-md" required="" aria-required="true" type="text">
                        <span class="help-block text-white">Como nombrarias a tu sueño</span>
                    </div>                  
                    
                    <label class="col-md-4 control-label text-white" for="correo">Correo electronico al que deseas que nos comuniquemos </label>
                    <div class="col-md-8">
                        <input id="correo" name="correo" class="form-control input-md" required="" aria-required="true" type="text">
                        <span class="help-block text-white"></span>
                    </div>
                    
                    <label class="col-md-4 control-label text-white" for="telefono">Telefono donde te podemos encontrar y escribir</label>
                    <div class="col-md-8">
                        <input id="telefono" name="telefono" class="form-control input-md" required="" aria-required="true" type="text">
                        <span class="help-block text-white">Este será el principal medio de comunicación.</span>
                    </div>
                    
                    <label class="col-md-4 control-label text-white fs-16" for="historia">Cuenta la historia de por que deseas que este sueño se haga realidad</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                        <span class="help-block text-white">Coméntanos: La historia de cuando nacio la idea y su experiencia relacionada con el sueño.</span>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="form-group">
                      <label class="col-md-4 control-label text-white fs-16" for="sector">¿A qué sector, industria o area de la vida pertenece tu sueño?</label>
                      <div class="col-md-8">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                        <span class="help-block text-white">Nos ayudara a entender y encontrar la mejor solucion para cumplir tu sueño.</span>
                      </div>
                    </div>
                    
                    <label class="col-md-4 control-label text-white" for="descripcion">Descripción de el sueño</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
                        <span class="help-block text-white">Explícanos de manera clara y concisa cual es el sueño.</span>
                    </div>
                    
                    <label class="col-md-4 control-label text-white" for="problema">Como esperarias hacerlo realidad si tuvieras: dinero infinito, vida infinita e imaginacion infinita </label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="problema" name="problema"></textarea>
                        <span class="help-block text-white">Se lo mas creativo que puedas. Hazlo realidad en tu mente y escribelo.</span>
                    </div>
                    
                    <label class="col-md-4 control-label text-white" for="solucion">¿Cómo se resuelve actualmente el sueño completo o partes del sueño?</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="solucion" name="solucion"></textarea>
                        <span class="help-block text-white">Puede que para tu sueño no exista una solucion completa hoy dia, pero tal vez si parciales. Si las conoces apuntalas.</span>
                    </div>                                                       
                    <label class="col-md-4 control-label text-white" for="motivacion">Explíquenos tu motivación para llevar a cabo este sueño</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="motivacion" name="motivacion"></textarea>
                        <span class="help-block text-white">¿Por qué hacer esto y no otra cosa?</span>
                    </div>
                    
                    <label class="col-md-4 control-label text-white" for="tiempo">¿Cuanto tiempo, dinero y esfuerzo estas dispuesto a meterle a tu sueño? </label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="tiempo" name="tiempo"></textarea>
                        <span class="help-block text-white">Nos ayudara a entender mas sobre tus requerimentos para cumplir tu sueño</span>
                    </div>
                    
                </fieldset>                
                
                
                
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton"></label>
                  <div class="col-md-8">
                    <button id="singlebutton" name="singlebutton" class="navbar-btn btn btn-solid3">Enviar Sueño</button>
                  </div>
                </div>
                
                </fieldset>
                </form>
            </div>
        </section>





       </div>
    </div>
</div>