<div class="bg-main">
  
          <div style="display: block; background-image: url(&quot;http://imageshack.com/a/img922/6182/u5STDt.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="http://imageshack.com/a/img922/6182/u5STDt.png"></div> -->
      </div>


<div class="jumbotron jumbotron-whats-on bg-white">
    <div class="container altura">
      <div class="row">

                    <%= image_tag 'noblidream-logo.jpg', :class => 'img-responsive'%>



      </div>
    </div>
  </div>



  <div class="jumbotron jumbotron-whats-on bg-white" style="margin-top: 700px;">
    <div class="container altura">
      <div class="row">

                    <a href="http://localhost:3000" class="btn btn-solid js-goto-signup js-button-hero-get-free" data-tracking="{&quot;category&quot;: &quot;download&quot;, &quot;action&quot;: &quot;download start&quot;, &quot;label&quot;: &quot;download-home-hero-carousel&quot;}">
            ELEGIR SUEÑO
    </a>



      </div>
    </div>
  </div>

