<div class="bg-main">
<!--
        <div style="display: block; background-image: url(&quot;//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div> -->
    </div>


<div class="jumbotron jumbotron-albums jumbotron-subscriptions">
<div class="jumbotron-bg lazy lazy-no-small" style="background: url(),linear-gradient(50deg,#010609 0,#1967bf 100%);" data-original=""></div>
<div class="container">
 <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-10 col-lg-12">
            <div class="animated animatedFadeInUp">
              <h2>
                <span class="text-white">
                    SER UN BUEN LIDER
                </span>
              </h2>
            </div>
            <div class="animated animatedFadeInUp">
              <p class="text-white">
          Noblidream es nuestra aportación para ayudar a la humanidad a que llegue a ser algo de lo que todos estemos orgullosos de ser parte, con la esperanza de seguir moviendo a todos hacia nuestro mejor futuro. Podras cumplir cualquier cosa que hayas pensado alguna vez e incluso mejoraras tus actividades diarias.
          Gracias por confiar en nosotros y por decidirte a ayudarnos a comprender y desarrollar este nuevo sueño para beneficio de todos. 
              </p>
            </div>
          </div>
        </div>
        </div>
    </div>
    </div>

<div class="jumbotron">
  <div class="container altura bg-white-trans">
    <div class="row">

      <div>
        <h3> REGISTRATE</h3>
        <p>Actualmente el sueño de ser un buen lider esta en investigacion, introduce tus datos y se participe del desarrollo de este sueño para ser uno de los <b>100 primeros</b> en probarlo.</p>
      </div>

      <div class="ui-153">

      <div class="panel-body">      
                
                <div class="form-group">
                  <label class="col-md-5 control-label fs-18 right">Correo electronico</label>
                  <div class="col-md-6 no-padding">
                    <input class="form-control" id="email" name="email" placeholder="Introduce tu usuario o correo" title="Ingrese un email correcto." oncopy="return false" oncut="return false" onpaste="return false" type="email">
                  </div>
                </div>                                      
                <div class="form-group">
                  <label class="col-md-5 control-label fs-18 right">Contraseña</label>
                  <div class="col-md-6 no-padding">
                    <input class="form-control" id="password" name="password" type="password" placeholder="Introduce tu contraseña">
                  </div>                                       
                </div>  
              </div>
        
      </div>

      <%= link_to "ENVIAR", travel_steps_travel_path,
      class: "btn btn-solid2 js-goto-signup js-button-hero-get-free" %>

    </div>
  </div>
</div>

