<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
 <div class="bg-main-business">
          
      </div>

  <div class="jumbotron">
    <div class="container altura">
      <div class="row">

      <section class="bg-white">
        <h2 class="black animated animatedFadeInUp">
                Tener mi propio negocio
        </h2>
          <p class="fs-14">“No hay secretos para el éxito. Este se alcanza preparándose, trabajando arduamente y aprendiendo del fracaso”. Colin Powell.</p>
          <p>Emprender un negocio es uno de los retos mas emocionantes que hay, pero tienes que comprender que el fracaso esta de por medio y que nosotros te guiaremos pero tu eres el creador. A continuacion veras 2 secciones basicas llena cada una como se indica.  </p>
         </section>

  <div>
   <div class="col-sm-6 col-sm-push-5 col-md-6 col-md-push-7 bg-white">
   

    </div>

    <div class="col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6">
    <div class="bg-white">
     <p>Tienes alguna experiencia emprendiendo?</p>
     <div class="collapse" id="experiencia">
     ¿De que sector fue su emprendimiento?
     <div><input id="proyecto" name="proyecto" class="form-control " required="" aria-required="true" type="text"></div>

     </div>

   <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#experiencia" aria-expanded="false" aria-controls="collapseExample">
                            Si
                  </a>
   <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#noexperiencia" aria-expanded="false" aria-controls="collapseExample">
                            No
                  </a>
     </div>
    </div>

   </div>




      </div>
    </div>
   </div>




   <div>
                      <label class="col-md-4 control-label" for="sector">¿A qué sector de la industria pertenece tu proyecto?</label>
                      <div class="col-md-8">
                        <select id="sector" name="sector" class="form-control valid" aria-invalid="false">
                            <option value="Smart Things">Smart Things</option>
                            <option value="Creative">Creative</option>
                            <option value="Social">Social</option>
                            <option value="Health &amp; Life Science">Health &amp; Life Science</option>
                            <option value="Business">Business</option>
                        </select>
                      </div>
                    </div>