<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main-pre-fisical">
          
      </div>

  <div class="jumbotron">
    <div class="container altura">
      <div class="row">

       <section class="bg-white-trans">
        <h2 class="black animated animatedFadeInUp">
                        Salud Mental
          </h2>
          <p>“El mundo es un libro y aquellos que no viajan solo leen una página”. – Agustín Povua</p>
          <p>Hay 2 categorias de personas que tienen la meta de tenr una mejor salud, para darte la atencion adecuada selecciona a cual perteneces tu.</p>
         </section>
        <div class="col-md-12">
         <div class="col-sm-6 col-sm-push-5 col-md-6 col-md-push-7">
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            Personas sanas que desean mejorar su salud actual y mantener una buena salud cuando lleguen a ser mayores.
             </h3>
             <p class="fs-16">"Cuida de tu cuerpo, es el único lugar que tienes para vivir".-Jim Rohn.</p>
             <p>Tienes 49 paises oficiales, 8 paises no oficialmente reconocidos, 9 territorios en disputa y 33 territorios dependientes de paises europeos por visitar. </p>

            <div  class="collapse" id="europaspre">
            <p>
                            Pasear en la torre Eiffel de noche, visitar el coliseo Romano y los canales de Venecia, Visitar el palacio de Buckingham.
            </p>
            <p class="black">
            	TOP 10 CIUDADES MAS VISITADAS
            	<ul class="dreamfs text-left fs201">
            		<li>
            			Paris, Francia
            		</li>
            		<li>
            			Londres, Inglaterra
            		</li>
            		<li>
            			Berlin, Alemania
            		</li>
            		<li>
            			Roma, Italia
            		</li>
            		<li>
            			Barcelona, España
            		</li>
            		<li>
            			Madrid, España
            		</li>
            		<li>
            			Estambul, Turquia
            		</li>
            		<li>
            			Praga, Republica Checa
            		</li>
            		<li>
            			Viena, Austria
            		</li>
            		<li>
            			Munich, Alemania
            		</li>
            	</ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#europaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><a href="http://localhost:3000/health/mental" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>

           

         </div>
         <div class="col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6">
            
         <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            Personas que tienen una condicion de salud mental y que desean mejorar su vida.
             </h3>
             <p class="fs-16"> "Cuando la riqueza se pierde, nada esta perdido; cuando la salud se pierde, algo esta perdido; cuando el carácter se pierde, todo esta perdido".-Billy Graham. </p>
             <p>Tienes 14 paises oficiales, 1 territorios en disputa y 9 territorios dependientes de paises oceanicos por visitar. </p>
             
            <div  class="collapse" id="oceaniaspre">
            <p>
                            Pasear en Paris por la noche, visitar Roma y los canales de Venecia, Pasear por la hermosa ciudad de Madrid,  o conocer alguno de los 50 paises Euopeos
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Paris, Francia
                </li>
                <li>
                  Londres, Inglaterra
                </li>
                <li>
                  Berlin, Alemania
                </li>
                <li>
                  Roma, Italia
                </li>
                <li>
                  Barcelona, España
                </li>
                <li>
                  Madrid, España
                </li>
                <li>
                  Estambul, Turquia
                </li>
                <li>
                  Praga, Republica Checa
                </li>
                <li>
                  Viena, Austria
                </li>
                <li>
                  Munich, Alemania
                </li>
              </ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#oceaniaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><a href="http://localhost:3000/health/mental_better" class="ui-trigger btn btn-halo2 js-button-hero-get-premium">ELEGIR</a></div>
           </div>

         </div>
        </div>

       </div>
    </div>
   </div>
<footer class="footer footer-default footer-highlight-aquamarine text-center">
  <div class="container">
    <p class="text-white fs-24">Tienes un sueño de viajar que no encuentras aqui o algun sueño especial de viajar. Agregalo abajo.</p>    <a href="http://localhost:3000/pages/add_dream" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            AGREGAR SUEÑO
    </a>
  </div>

</footer>