<p>Hola <%= @username %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos ponemos en contacto contigo porque su correo esta siendo cambiado a<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos ponemos en contacto contigo porque su correo a sido cambiado a<%= @resource.email %>.</p>
<% end %>
