<% if notice %>
 <p class="notice"><%= notice %></p>
 <% elsif alert %>
 <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>