<!DOCTYPE html>
<html>
  <head>
    <title>Noblidream</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     
    <meta property="og:url" content="#">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sueños que cambian la vida.">
    <meta charset="UTF-8">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
